:host {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 16px 0;
    text-align: center;
  }

  p {
    margin: 0;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
.footer {
  bottom: 0;
  height: 40px;
  position: absolute;
  right: 0;
  width: 100%;
  color:  #98a6ad;
  background-color: #1976d2;
  box-shadow: 0 0 1px rgba(50,58,70,.1);
  align-items: center;


}
.footer-align {
    padding: 0;
    position: absolute;
    left: 38%;
    top: 17%;
    
} 
.reset {
  cursor: pointer;
    color: white;
    margin: 0 0 0 84%;
    text-decoration: none;
}
  .content {
    display: flex;
    margin: 23px auto 32px;
    padding: 0 16px;
    flex-direction: column;
  }
.float {
  margin: 2% 0 0 0 ;
  
}
.vehicleSelect {
  margin-right: 7%;
}
.btn {
     width: 10%;
    position: absolute;
    top: 80%;
    right: 46%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.radio-align {
  padding: 4% !important;
  margin: 0 6% 0 5% !important;
  display: block !important;
}
.result {
  margin-bottom: 5% !important
}
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: 4px;
    cursor: pointer;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 4px;
    right: 180px;
    z-index: -10;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }